<div>
  <input type="checkbox" name="priceLessThan" [(ngModel)]="priceLessThanCheckbox" id ="priceLessThanInput">
  <label>Price less than: </label>
  <input [(ngModel)]="priceLessThanValue" #priceLessThan/>
</div>
<div>
  <input type="checkbox" name="priceLessThan" [(ngModel)]="cuisineCheckbox" id ="cuisineInput">
  <label>Cuisine: </label>
  <select [(ngModel)]="cuisineValue" #cuisine>
    <option value="MEDITERRANEAN">Mediterranean</option>
    <option value="ORIENTAL">Oriental</option>
  </select>
</div>
<div>
  <button (click)="filter()">Filter</button>
</div>
<ul>
  <li *ngFor="let pizza of pizzas">
    ID: <b>{{pizza.id}}</b><br>
    Name: <b>{{pizza.name}}</b><br>
    Description: <b>{{pizza.description}}</b><br>
    Price: <b>{{pizza.price}}</b><br>
    Cuisine: <b>{{pizza.cuisine}}</b><br>
  </li>
</ul>
