<div>
  <label>Name: </label>
  <input #pizzaName/>
</div>
<div>
  <label>Description: </label>
  <input #pizzaDescription/>
</div>
<div>
  <label>Price: </label>
  <input #pizzaPrice/>
</div>
<div>
  <label>Cuisine: </label>
  <select #pizzaCuisine>
    <option value="MEDITERRANEAN">Mediterranean</option>
    <option value="ORIENTAL">Oriental</option>
  </select>
</div>
<div>
  <button (click)="save(pizzaName.value, pizzaDescription.value, pizzaPrice.value, pizzaCuisine.value)">Save</button>
</div>
